.certificates {
  .header-indent::after {
    display: none;
  }

  &-slider {
    width: 100%;
    max-width: 1170px;
    height: 672px;

    & .general-slider-nav {
      left: auto;
      right: 0;
      width: auto;
    }

    & .general-pagination {
      top: 45%;
    }
  }

  &-list {
    display: flex;
    justify-content: space-between;

    &__item {
      line-height: 0;
    }
  }
}