@media screen and (max-width: 1439px) { 
  .gallery-slider {
    height: 1073px;
  }

  .gallery-list {
    justify-content: center;
  }
}

@media screen and (max-width: 1069px) { 
  .gallery-slider {
    height: 1363px;
  }
}

@media screen and (max-width: 1280px) {

  body {
    padding-top: 70px;
  }
  .wrapper {
    padding: 0 70px;
  }
  .main-nav {
    width: 72%;
  }

  .main-container {
    min-height: 70px;
  }

  .main-project{
    &__wrap {
      flex-direction: column;
    }

    &__item:first-child{
      width: 100%;
      text-align: center;
      margin-bottom: 25px;
    }

    &__item:last-child {
      width: 100%;
    }

    &__photo {
      margin: 0 auto;
    }

    &__buttons {
      justify-content: center;
    }
  }

  .main-slider{ 
    max-height: 100%;

    &__nav {
      bottom: 100px;
      width: 100%;
    }
  }

  .main-slider .general-pagination {
    top: 105px;
    left: 50%;
    transform: translate(-44%, -50%);
  }

  .about {
    &-company {
      flex-direction: column;
    }

    &-photo {
      width: 100%;
      justify-content: center;
    }

    &-text {
      width: 100%;
      padding-bottom: 91px;
    }
  }
  .main-tasks__text--p {
    padding-right: 0;
  }

  .connection {
    flex-direction: column;

    &-text {
      margin-bottom: 50px;
    }

    &-map {
      margin: 0 auto;
    }
  }
}




@media screen and (max-width: 829px) { 
  .gallery-slider {
    height: 1653px;
  }
}

