.design {
  &-item {
    display: flex;

    & + & {
      margin-top: 60px;
    }

    &__photo {
      width: 670px;
      height: 435px;
    }

    &__text {
      position: relative;
      width: 500px;
      background-color: #FBFBFB;
      padding: 30px;

      & .main-link {
        left: 30px;
        bottom: 30px;
      }

      h3 {
        margin-bottom: 20px;
        font-size: 40px;
        line-height: 50px;
        font-weight: 300;
        color: #bdbdbd;
      }
      p {
        padding-right: 40px;
      }
    }
  }
}

.project-slider {
  width: 1170px;
  height: 1657px;

}

.parking {
  padding-bottom: 120px;
  
  img {
    object-fit: contain;
  }

  &-img {
    width: 100%;
    height: 435px;

  }
  &-description {
    display: flex;
    margin: 30px 0 30px;

    &__text {
      margin-left: 30px;
    }
  }
}